.addBtn {
margin-bottom: 30px;
}

.editBtn {
    margin: 10px;
}

.tarefa {
    width: 80%;
}

.acoes {
    width: 14%;
}

body {
    font-family: 'comic sans ms', 'Cursive'!important;
}

.hidden {
    display: none!important;
}

h1 {
    text-align: left;
}

div {
    margin-bottom: 20px;
}
    