.App {
  text-align: center;
  margin: 50px;
}

.btn-primary {
  background-color: #337ab7 !important;
}

.btn-success {
  background-color: #337ab7!important;
}

.btn-danger {
  background-color: #d32f2f!important;
}
